version: "2"

services:

  grafana:
    image: docker.io/schabrolles/grafana_ppc64le:{{ grafana_version }}
    hostname: grafana
    volumes:
      - /etc/hosts:/etc/hosts
      - {{ data_root_path }}/grafana:/var/lib/grafana
    ports:
      - "3000:3000"
      - "80:3000"
    depends_on: 
      - prometheus
      - influxdb
      - graphite

  prometheus:
    image: docker.io/schabrolles/prometheus_ppc64le:{{ prometheus_version }}
    hostname: prometheus
    volumes:
      - {{ data_root_path }}/prometheus:/prometheus
    ports:
      - "9090:9090"
    command:
      - "--config.file=/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus/data"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
      - "--web.enable-lifecycle"

  influxdb:
    image: docker.io/schabrolles/influxdb_ppc64le:{{ influxdb_version }}
    hostname: influxdb
    volumes:
      - {{ data_root_path }}/influxdb:/var/lib/influxdb
    ports:
      - "8088:8088"
      - "8086:8086"
    command: influxd -config /var/lib/influxdb/influxdb.conf

  graphite:
    image: docker.io/schabrolles/graphite_ppc64le:{{ graphite_version }}
    hostname: graphite
    volumes:
      - {{ data_root_path }}/graphite:/opt/graphite/storage
    ports:
      - "2003:2003"  
      - "8125:8125/udp"
      - "8126:8126"

  memcached:
   image: memcached 
   hostname: memcached
